.cat {
	padding: 20px;
}

#services {
	.ss-pika {
		color: $black; 
	}
	.cell {
		margin-top: 1.8rem;
		h1 {
			margin-bottom: -0.5rem;
		}
	}
}

#work {
	.portfolio-line {
		margin-top: 25px;
		padding-right: 5px;
	}
	a {
		color: $black;
		border-right: 2px solid $white;
		transition: border-right 0.6s;
		img {
			max-width: 90%;
		}
	}
	a:hover {
		border-right: 2px solid $primary-color;
	}
}

#contact {
	background-color: $black;
	color: $white;
	form {
		margin-top: 20px;
		label {
			padding: 20px;
			h1, h2, h3, h4, h5, h6 {
				color: $light-gray;
			}
		}
		input, textarea {
			margin-top: 10px;
			border:none;
			color: $white;
			background-color: transparent;
			box-shadow: none;
			border-bottom: solid 2px $white;
			transition: border 0.3s;
			&:focus,
			&.focus {
				background-color: transparent;
				box-shadow: none;
				border: none;
				border-bottom: solid 2px $primary-color;
			}
			&::placeholder{
				color: $dark-gray;
				font-style: italic;
				font-size: 0.7rem;
			}

		}
		.submit {
			text-align: center;
			button {
				text-transform: uppercase;
				border: none;
				background: none;
				cursor: pointer;
				padding: 25px 80px;
				display: inline-block;
				margin: 15px 30px;
				letter-spacing: 5px;
				outline: none;
				position: relative;
				transition: all 0.3s;			
				&:hover {
					letter-spacing: 7px;
					color: $primary-color;
				}
			}
		}
	}
}

#social {
	span {
		color: $primary-color;
		font-size: 3rem;
		transition: color 0.25s;
		&:hover {
			color: scale-color($primary-color, $lightness: -15%);
		}
	}
}