// Foundation Icons font
$font-path: "../fonts/foundation-icons";
@font-face {
  font-family: "foundation-icons";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}.woff") format("woff"),
       url("#{$font-path}.ttf") format("truetype"),
       url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import "../fonts/foundation-icons/foundation-icons.css";


// SS Pika Font
$font-path: "../fonts/ss-pika";
@font-face {
  font-family: "ss-pika";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}.woff") format("woff"),
       url("#{$font-path}.ttf") format("truetype"),
       url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import "../fonts/ss-pika/ss-pika.css";

// SS Social Regular font
$font-path: "../fonts/ss-social-regular";
@font-face {
  font-family: "ss-social-regular";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}.woff") format("woff"),
       url("#{$font-path}.ttf") format("truetype"),
       url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import "../fonts/ss-social-regular/ss-social-regular.css";


// SS Social Circle font
$font-path: "../fonts/ss-social-circle";
@font-face {
  font-family: "ss-social-circle";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}.woff") format("woff"),
       url("#{$font-path}.ttf") format("truetype"),
       url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import "../fonts/ss-social-circle/ss-social-circle.css";