$img_url: '../images/header.jpg';
$height: 100vh;
$blackout: rgba(90,90,90,0.9);

html {
	background-color: $black;
}

.center-all {
	text-align: center;
	align-items: center;
	align-self: center;
	justify-content: center;
}

#main-header {
	background: linear-gradient(0deg,$blackout,$blackout),url($img_url);
	background-size: cover;
	height: $height;
	display: flex;
	position: relative;
	h1, h2, h3, h4, h5, h6 {
		color: $white;
	}
	button {
		border: solid 1px $white;
		margin-top: 15px;
		text-transform: uppercase;
	}
	.bottom-readmore {
		position: relative;
		font-size: 7vh;
		bottom: -10vh;
		a {
			color: $white;
			transition: color 0.25s;
			&:hover {
				color: scale-color($primary-color, $lightness: -15%);
			}
		}
	}
}