.title-bar {
	.ss-pika {
		color: $white;
	}
}

.to-top {
	float: right;
	right: 15px !important;
	border: 1px solid $white;
	color: $white;
	width: 40px !important;
	height: 40px !important;
	padding: 5px;
}

.top-bar {
	background-color: $white;
	padding: 0;
	ul {
		background-color: $white;
	}
}

#top-bar-menu {
	.accordion-menu li {
		width: auto;
	}
}

.off-canvas {
	background: $white;
}

.menuitem {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
}