.card {
	border: none;
}

.overlay {
  position: relative;
  img {
  	transition: all 0.6s;
  }
  &:hover {
  	img {
  		transform: scale(1.15);
  	}
  }
}

.text-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  color: $white;
  text-align: center;
  h1, h2, h3, h4, h5, h6 {
    @include breakpoint(medium) {
      font-size: 2vw;
    }
  }
}