.hide-me {
	display: none;
}

.come-in {
    transform: translateX(50%);
    animation: come-in 1.2s ease forwards;
    &:nth-child(odd) {
        transform: translateX(-50%);
        animation: come-in 0.6s ease forwards;
    }
}

@keyframes come-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.already-visible {
    transform: translateX(0);
    animation: none;
  }