.tech-tags.button {
    @extend .button;
    display: inline-block;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: $white;
    border: 1px $primary-color solid;
    &:hover {
        background-color: $primary-color;
        color: $white;
        a {
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
}